.place-order{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 65px;

}
.place-order-left{
    width: 100%;
    max-width: 500px;
}
.place-order-left .title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}
.place-order-left input{
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    outline-color: orangered;
}
.place-order-left .multi-fields{
    display: flex;
    gap: 10px;
}
.place-order-right{
    width: 100%;
    max-width: 450px;
    position: absolute;
    right: 150px;
    top: 200px;
}
.place-order-right .cart-total button{
    margin-top: 30px;
}
.place-order-right .cart-total{
    width: 400px;
    
}
.place-order-right .cart-total h2{
    font-size: 30px;
}